#contact {
  padding: 100px 0 97px;
  background: url("../image/bg-footer.jpg") no-repeat, #181818;
  .container:after {
    display: block;
    clear: both;
    content: "";
  }
  h2 {
    margin-bottom: 117px;
    font: {
      size: 42px;
      weight: normal;
    }
    color: #fff;
    text-align: center;
  }
  form {
    width: 48.8%;
    float: right;
  }
  form, fieldset {
    padding: 0;
    border-style: none;
  }
}

.info {
  float: left;
  width: 37.61%;
  h3 {
    font-size: 24px;
    color: #fff;
  }
  p {
    margin-bottom: 40px;
    font-size: 14px;
    color: #adadad;
    line-height: 21px;
  }
  span, span a {
    display: block;
    font-size: 14px;
    color: #bface2;
  }
}

.social {
  list-style: none;
  margin-bottom: 20px;
  li {
    margin-right: 15px;
    display: inline-block;
    text-indent: -9999px;
    overflow: hidden;
    &:last-child {
      margin-right: 0;
    }
    a {
      display: block;
      background: url("../image/social.png") no-repeat;
      width: 42px;
      height: 42px;
      &.fb {
        background-position: 0 0;
      }
      &.tw {
        background-position: -57px 0;
      }
      &.google {
        background-position: -114px 0;
      }
      &:hover {
        opacity: .7;
      }
    }
  }
}

#contact-form {
  input {
    width: 47%;
    height: 44px;
    margin-bottom: 30px;
    padding-left: 20px;
    box-sizing: border-box;
    &:first-child {
      margin-right: 29px;
    }
  }
  input, textarea {
    font-size: 16px;
    box-sizing: border-box;
    @include placeholder {
      color: #c1c1c1;
      font-size: 16px;
    }
    @include border-radius(3px);
  }
  input, textarea, button {
    outline: none;
    border: none;
  }
  textarea {
    width: 100%;
    resize: none;
    padding: 20px;
    margin-bottom: 22px;
  }
  .btn {
    color: #fff;
    cursor: pointer;
    float: right;
    font-size: 22px;
    background: #49cbcd;
    line-height: 50px;
    width: 170px;
    @include border-radius(3px);
  }
}

