.gallery {
  margin: 103px auto 0;

  .img {
    position: relative;
    img {
      max-width: 100%;
      height: auto;
      display: block;
    }
  }
  .text {
    text-align: center;
    position: absolute;
    width: 50%;
    transform: translate(50%, -50%);
    top: 50%;
  }
}

.text {
  color: #fff;
  h2 {
    line-height: 50px;
    font: {
      weight: 600;
      size: 63px;
    }
    margin-bottom: 45px;
  }
  p {
    font-size: 23px;
    line-height: 37px;
    width: 56%;;
    margin: 0 auto 47px;
  }
  a {
    display: block;
    border: 3px solid #fff;
    font: {
      weight: bold;
      size: 26px;
    }
    line-height: 62px;
    @include border-radius(5px);
    width: 231px;
    margin: 0 auto;
  }
}

.slick-arrow {
  width: 51px;
  height: 51px;
  position: absolute;
  z-index: 5;
  top: 50%;
  text-indent: -9999px;
  overflow: hidden;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
}

.slick-prev {
  background: url("../image/prev.png") no-repeat;
  left: 28px;
}

.slick-next {
  background: url("../image/next.png") no-repeat;
  right: 28px;
}