header {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  .container {
    display: flex;
    justify-content: space-between;
  }
}

.logo {
  text-indent: -9999px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    display: block;
    background: url("../image/logo.png") no-repeat;
    width: 120px;
    height: 37px;
  }
}

#menu-toggle {
  width:100px;
  height:100px;
  margin: 0;
  position:relative;
  display: none;
  cursor:pointer;
  background:rgba(255,255,255,.4);
  border-radius:5px;
  span {
    display:block;
    background:#566973;
    border-radius:2px;
  }
  &:hover {
    background:rgba(255,255,255,.8);
  }
  #hamburger {
    position:absolute;
    height:100%;
    width:100%;
    span {
      width:60px;
      height:4px;
      position:relative;
      top:24px;
      left:20px;
      margin:10px 0;
      &:nth-child(1){
        transition-delay:.5s;
      }
      &:nth-child(2){
        transition-delay:.625s;
      }
      &:nth-child(3){
        transition-delay:.75s;
      }
    }
  }
  #cross {
    position:absolute;
    height:100%;
    width:100%;
    transform:rotate(45deg);
    span{
      &:nth-child(1){
        height:0%;
        width:4px;
        position:absolute;
        top:10%;
        left:48px;
        transition-delay:0s;
      }
      &:nth-child(2){
        width:0%;
        height:4px;
        position:absolute;
        left:10%;
        top:48px;
        transition-delay:.25s;
      }
    }
  }
}

#menu-toggle.open {
  #hamburger {
    span {
      width:0%;
      &:nth-child(1){
        transition-delay:0s;
      }
      &:nth-child(2){
        transition-delay:.125s;
      }
      &:nth-child(3){
        transition-delay:.25s;
      }
    }
  }
  #cross {
    span {
      &:nth-child(1){
        height:80%;
        transition-delay:.625s;
      }
    }
    span {
      &:nth-child(2){
        width:80%;
        transition-delay:.375s;
      }
    }
  }
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  li {
    line-height: 100px;
    display: inline-block;
    }

  a {
    color: #484c55;
    display: block;
    padding: 0 20px;
    border-bottom: 3px solid rgba(255,255,255,.1);

    &.active, &:hover {
      background: #f8f9fb;
      border-bottom: 3px solid #49cbcd;
    }
  }
}