#plans {
  padding: 120px 0 100px;
  background: #f1f1f1;
  .container {
    @extend .items;
  }
}

.plan {
  @include border-radius(1px);
  width: 31.54%;
  text-align: center;
  ul {
    padding-bottom: 100px;
    list-style: none;
    position: relative;
    background: #f8f9fb;
  }
  li {
    background: #fff;
    color: #8c9299;
    font-size: 14px;
    line-height: 45px;
    border-bottom: 1px solid #ecf0f1;
  }
  .btn {
    font: {
      weight: bold;
      size: 17px;
    }
    position: absolute;
    bottom: 6%;
    left: 50%;
    line-height: 40px;
    background: #788492;
    line-height: 40px;
    transform: translateX(-50%);
    width: 170px;
    transition: all .3s ease;
    display: inline-block;
    @include border-radius(2px);
    &:hover, &:hover + .title-plan{
      background: #49cbcd;
  }
}

.title-plan {
  line-height: 75px;
  background: #485460;
  color: #fff;
  font-size: 26px;
  transition: all .3s ease;
}

.price {
  background: #f8f9fb;
  line-height: 70px;
  color: #485460;
  font-size: 20px;
}
}
