body {
  margin: 0;
  font: 14px/26px 'Open Sans';
}
/* General reset */
img {
  border-style: none;
}
a {
  color: #fff;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

ul {
  margin:0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
p {
  margin: 0;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans.eot');
  src: url('../fonts/OpenSans.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSans.woff') format('woff'),
  url('../fonts/OpenSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Semibold.eot');
  src: url('../fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSans-Semibold.woff') format('woff'),
  url('../fonts/OpenSans-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

.wrap {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

@import "header.scss";

@import "mixin.scss";

@import "gallery.scss";

@import "team.scss";

@import "plans.scss";

@import "contact.scss";

@media screen and (max-width: 980px) {
  header {
    padding: 0 10px;
  }
  .gallery {
    .text {
      width: 57%;
      h2 {
        font-size: 46px;
        margin-bottom: 10px;
      }
      p {
        width: 90%;
        margin-bottom: 30px;
      }
      a {
        width: 190px;
      }
    }
  }
  #team {
    padding: 80px 0;
    h2 {
      margin-bottom: 75px;
    }
    .items .item {
      width: 34%;
      margin-bottom: 20px;
    }
  }
  #contact {
    padding: 50px 20px;
  }
  #contact-form input {
    width: 75%;
  }
}

@media screen and (max-width: 768px) {
  .nav a {
    padding: 0 15px;
  }
  .gallery {
    .text {
      h2 {
        font-size: 32px;
      }
      a {
        line-height: 55px;
        font-size: 25px;
      }
    }
  }
  #plans {
    padding: 100px 0 80px;
    .plan {
      width: 45%;
      margin-bottom: 20px;
    }
  }
  #contact form {
    width: 55.8%;
    input {
      width: 100%;
      &:first-child {
        margin-right: 0;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  #menu-toggle {
    display: block;
    z-index: 5;
  }
  .nav{
    display: none;
    &.active {
      display: block;
      position: absolute;
      top: 100px;
      left: 0;
      right: 0;
      background: #fff;
      li {
        display: block;
        line-height: 50px;
      }
    }
  }
  .gallery{
    margin: 103px auto 0;
    .text {
      width: 60%;
      h2 {
        font-size: 25px;
      }
      p {
        width: 100%;
        margin-bottom: 18px;
        font-size: 17px;
        line-height: 25px;
      }
      a {
        line-height: 43px;
        font-size: 16px;
        width: 160px;
      }

    }
  }
  #team .container .item {
    width: 43%;
  }
  #plans .plan {
    width: 75%;
  }
  #contact {
    .info {
      margin-bottom: 20px;
      width: 100%;
    }
    form {
      float: none;
      width: 87%;
    }
  }
}

@media screen and (max-width: 480px) {
  .gallery {
    .img {
      height: 270px;
      img {
        height: 100%;
      }
      .text {
        transform: translate(35%, -50%);
      }
    }
    .slick-prev {
      left: 5px;
    }
    .slick-next {
      right: 5px;
    }
  }
  #team {
    .container {
      h2 {
        margin-bottom: 50px;
        font-size: 36px;
      }
      .item {
        width: 90%;
        .item-img {
          margin-bottom: 20px;
        }
      }
    }
  }
  .plan {
    width: 85%;
  }
  #contact {
    h2 {
      margin-bottom: 50px;
      font-size: 40px;
    }
    form {
      width: 100%;
    }
  }
}