body {
  margin: 0;
  font: 14px/26px 'Open Sans';
}

/* General reset */
img {
  border-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans.eot");
  src: url("../fonts/OpenSans.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans.woff") format("woff"), url("../fonts/OpenSans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Semibold.eot");
  src: url("../fonts/OpenSans-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Semibold.woff") format("woff"), url("../fonts/OpenSans-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
.wrap {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

header {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  text-indent: -9999px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.logo a {
  display: block;
  background: url("../image/logo.png") no-repeat;
  width: 120px;
  height: 37px;
}

#menu-toggle {
  width: 100px;
  height: 100px;
  margin: 0;
  position: relative;
  display: none;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
}
#menu-toggle span {
  display: block;
  background: #566973;
  border-radius: 2px;
}
#menu-toggle:hover {
  background: rgba(255, 255, 255, 0.8);
}
#menu-toggle #hamburger {
  position: absolute;
  height: 100%;
  width: 100%;
}
#menu-toggle #hamburger span {
  width: 60px;
  height: 4px;
  position: relative;
  top: 24px;
  left: 20px;
  margin: 10px 0;
}
#menu-toggle #hamburger span:nth-child(1) {
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}
#menu-toggle #hamburger span:nth-child(2) {
  -webkit-transition-delay: .625s;
          transition-delay: .625s;
}
#menu-toggle #hamburger span:nth-child(3) {
  -webkit-transition-delay: .75s;
          transition-delay: .75s;
}
#menu-toggle #cross {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
#menu-toggle #cross span:nth-child(1) {
  height: 0%;
  width: 4px;
  position: absolute;
  top: 10%;
  left: 48px;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
#menu-toggle #cross span:nth-child(2) {
  width: 0%;
  height: 4px;
  position: absolute;
  left: 10%;
  top: 48px;
  -webkit-transition-delay: .25s;
          transition-delay: .25s;
}

#menu-toggle.open #hamburger span {
  width: 0%;
}
#menu-toggle.open #hamburger span:nth-child(1) {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
#menu-toggle.open #hamburger span:nth-child(2) {
  -webkit-transition-delay: .125s;
          transition-delay: .125s;
}
#menu-toggle.open #hamburger span:nth-child(3) {
  -webkit-transition-delay: .25s;
          transition-delay: .25s;
}
#menu-toggle.open #cross span:nth-child(1) {
  height: 80%;
  -webkit-transition-delay: .625s;
          transition-delay: .625s;
}
#menu-toggle.open #cross span:nth-child(2) {
  width: 80%;
  -webkit-transition-delay: .375s;
          transition-delay: .375s;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}
.nav li {
  line-height: 100px;
  display: inline-block;
}
.nav a {
  color: #484c55;
  display: block;
  padding: 0 20px;
  border-bottom: 3px solid rgba(255, 255, 255, 0.1);
}
.nav a.active, .nav a:hover {
  background: #f8f9fb;
  border-bottom: 3px solid #49cbcd;
}

.gallery {
  margin: 103px auto 0;
}
.gallery .img {
  position: relative;
}
.gallery .img img {
  max-width: 100%;
  height: auto;
  display: block;
}
.gallery .text {
  text-align: center;
  position: absolute;
  width: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  top: 50%;
}

.text {
  color: #fff;
}
.text h2 {
  line-height: 50px;
  font-weight: 600;
  font-size: 63px;
  margin-bottom: 45px;
}
.text p {
  font-size: 23px;
  line-height: 37px;
  width: 56%;
  margin: 0 auto 47px;
}
.text a {
  display: block;
  border: 3px solid #fff;
  font-weight: bold;
  font-size: 26px;
  line-height: 62px;
  border-radius: 5px;
  width: 231px;
  margin: 0 auto;
}

.slick-arrow {
  width: 51px;
  height: 51px;
  position: absolute;
  z-index: 5;
  top: 50%;
  text-indent: -9999px;
  overflow: hidden;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
}

.slick-prev {
  background: url("../image/prev.png") no-repeat;
  left: 28px;
}

.slick-next {
  background: url("../image/next.png") no-repeat;
  right: 28px;
}

#team {
  padding: 100px 0;
}
#team h2 {
  text-align: center;
  font-size: 42px;
  color: #4e525d;
  margin-bottom: 140px;
}

.items, #plans .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.items .item, #plans .container .item {
  width: 21.37%;
  text-align: center;
}
.items .item .item-img, #plans .container .item .item-img {
  margin-bottom: 55px;
}
.items .item .item-description h3, #plans .container .item .item-description h3 {
  font-size: 22px;
  font-weight: normal;
}
.items .item .item-description h3, #plans .container .item .item-description h3, .items .item .item-description span, #plans .container .item .item-description span, .items .item .item-description p, #plans .container .item .item-description p {
  color: #4e525d;
}
.items .item .item-description span, #plans .container .item .item-description span, .items .item .item-description p, #plans .container .item .item-description p {
  font-size: 14px;
}
.items .item .item-description span, #plans .container .item .item-description span {
  display: block;
  margin-bottom: 20px;
}

#plans {
  padding: 120px 0 100px;
  background: #f1f1f1;
}

.plan {
  border-radius: 1px;
  width: 31.54%;
  text-align: center;
}
.plan ul {
  padding-bottom: 100px;
  list-style: none;
  position: relative;
  background: #f8f9fb;
}
.plan li {
  background: #fff;
  color: #8c9299;
  font-size: 14px;
  line-height: 45px;
  border-bottom: 1px solid #ecf0f1;
}
.plan .btn {
  font-weight: bold;
  font-size: 17px;
  position: absolute;
  bottom: 6%;
  left: 50%;
  line-height: 40px;
  background: #788492;
  line-height: 40px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 170px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  display: inline-block;
  border-radius: 2px;
}
.plan .btn:hover, .plan .btn:hover + .title-plan {
  background: #49cbcd;
}
.plan .title-plan {
  line-height: 75px;
  background: #485460;
  color: #fff;
  font-size: 26px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.plan .price {
  background: #f8f9fb;
  line-height: 70px;
  color: #485460;
  font-size: 20px;
}

#contact {
  padding: 100px 0 97px;
  background: url("../image/bg-footer.jpg") no-repeat, #181818;
}
#contact .container:after {
  display: block;
  clear: both;
  content: "";
}
#contact h2 {
  margin-bottom: 117px;
  font-size: 42px;
  font-weight: normal;
  color: #fff;
  text-align: center;
}
#contact form {
  width: 48.8%;
  float: right;
}
#contact form, #contact fieldset {
  padding: 0;
  border-style: none;
}

.info {
  float: left;
  width: 37.61%;
}
.info h3 {
  font-size: 24px;
  color: #fff;
}
.info p {
  margin-bottom: 40px;
  font-size: 14px;
  color: #adadad;
  line-height: 21px;
}
.info span, .info span a {
  display: block;
  font-size: 14px;
  color: #bface2;
}

.social {
  list-style: none;
  margin-bottom: 20px;
}
.social li {
  margin-right: 15px;
  display: inline-block;
  text-indent: -9999px;
  overflow: hidden;
}
.social li:last-child {
  margin-right: 0;
}
.social li a {
  display: block;
  background: url("../image/social.png") no-repeat;
  width: 42px;
  height: 42px;
}
.social li a.fb {
  background-position: 0 0;
}
.social li a.tw {
  background-position: -57px 0;
}
.social li a.google {
  background-position: -114px 0;
}
.social li a:hover {
  opacity: .7;
}

#contact-form input {
  width: 47%;
  height: 44px;
  margin-bottom: 30px;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#contact-form input:first-child {
  margin-right: 29px;
}
#contact-form input, #contact-form textarea {
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
}
#contact-form input::-webkit-input-placeholder, #contact-form textarea::-webkit-input-placeholder {
  color: #c1c1c1;
  font-size: 16px;
}
#contact-form input:-moz-placeholder, #contact-form textarea:-moz-placeholder {
  color: #c1c1c1;
  font-size: 16px;
}
#contact-form input::-moz-placeholder, #contact-form textarea::-moz-placeholder {
  color: #c1c1c1;
  font-size: 16px;
}
#contact-form input:-ms-input-placeholder, #contact-form textarea:-ms-input-placeholder {
  color: #c1c1c1;
  font-size: 16px;
}
#contact-form input, #contact-form textarea, #contact-form button {
  outline: none;
  border: none;
}
#contact-form textarea {
  width: 100%;
  resize: none;
  padding: 20px;
  margin-bottom: 22px;
}
#contact-form .btn {
  color: #fff;
  cursor: pointer;
  float: right;
  font-size: 22px;
  background: #49cbcd;
  line-height: 50px;
  width: 170px;
  border-radius: 3px;
}

@media screen and (max-width: 980px) {
  header {
    padding: 0 10px;
  }

  .gallery .text {
    width: 57%;
  }
  .gallery .text h2 {
    font-size: 46px;
    margin-bottom: 10px;
  }
  .gallery .text p {
    width: 90%;
    margin-bottom: 30px;
  }
  .gallery .text a {
    width: 190px;
  }

  #team {
    padding: 80px 0;
  }
  #team h2 {
    margin-bottom: 75px;
  }
  #team .items .item, #team #plans .container .item, #plans #team .container .item {
    width: 34%;
    margin-bottom: 20px;
  }

  #contact {
    padding: 50px 20px;
  }

  #contact-form input {
    width: 75%;
  }
}
@media screen and (max-width: 768px) {
  .nav a {
    padding: 0 15px;
  }

  .gallery .text h2 {
    font-size: 32px;
  }
  .gallery .text a {
    line-height: 55px;
    font-size: 25px;
  }

  #plans {
    padding: 100px 0 80px;
  }
  #plans .plan {
    width: 45%;
    margin-bottom: 20px;
  }

  #contact form {
    width: 55.8%;
  }
  #contact form input {
    width: 100%;
  }
  #contact form input:first-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 640px) {
  #menu-toggle {
    display: block;
    z-index: 5;
  }

  .nav {
    display: none;
  }
  .nav.active {
    display: block;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    background: #fff;
  }
  .nav.active li {
    display: block;
    line-height: 50px;
  }

  .gallery {
    margin: 103px auto 0;
  }
  .gallery .text {
    width: 60%;
  }
  .gallery .text h2 {
    font-size: 25px;
  }
  .gallery .text p {
    width: 100%;
    margin-bottom: 18px;
    font-size: 17px;
    line-height: 25px;
  }
  .gallery .text a {
    line-height: 43px;
    font-size: 16px;
    width: 160px;
  }

  #team .container .item {
    width: 43%;
  }

  #plans .plan {
    width: 75%;
  }

  #contact .info {
    margin-bottom: 20px;
    width: 100%;
  }
  #contact form {
    float: none;
    width: 87%;
  }
}
@media screen and (max-width: 480px) {
  .gallery .img {
    height: 270px;
  }
  .gallery .img img {
    height: 100%;
  }
  .gallery .img .text {
    -webkit-transform: translate(35%, -50%);
            transform: translate(35%, -50%);
  }
  .gallery .slick-prev {
    left: 5px;
  }
  .gallery .slick-next {
    right: 5px;
  }

  #team .container h2 {
    margin-bottom: 50px;
    font-size: 36px;
  }
  #team .container .item {
    width: 90%;
  }
  #team .container .item .item-img {
    margin-bottom: 20px;
  }

  .plan {
    width: 85%;
  }

  #contact h2 {
    margin-bottom: 50px;
    font-size: 40px;
  }
  #contact form {
    width: 100%;
  }
}
