#team {
  padding: 100px 0;
  h2 {
    text-align: center;
    font-size: 42px;
    color: #4e525d;
    margin-bottom: 140px;
  }
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .item {
    width: 21.37%;
    text-align: center;
    .item-img {
      margin-bottom: 55px;
    }
    .item-description {
      h3 {
        font: {
          size: 22px;
          weight: normal;
        }
      }
      h3, span, p {
        color: #4e525d;
      }
      span, p {
        font-size: 14px;
      }
      span {
        display: block;
        margin-bottom: 20px;
      }
    }
  }
}